<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="../js/vue.js"></script>
    <script src="../js/vue-router.js"></script>
    <title>Vue</title>
</head>
<body>
    <div id="app" class="container">
        <ul>
            <li v-for="color in colors">
                {{color}}
            </li>
        </ul>

        <ul>
            <li v-for="(color, index) in colors">
                {{index}} - {{color}}
                <span v-if="index == colors.length - 1">
                    This is the last element
                </span>
            </li>
        </ul>
        
        <button class="btn btn-primary" v-on:click="filterColors">
            Filter more than four characters
        </button>

        <ul>
            <li v-for="(person, index) in ArrayObjects">
                {{index}} - {{person.name}} - {{person.age}}
                <span v-if="index == ArrayObjects.length - 1">
                    This is the last element
                </span>
            </li>
        </ul>

        <input v-model="age_filter" type="text">

        <button class="btn btn-primary" v-on:click="filterPeople">
            Filter by age
        </button>
        
        
    </div>
    <script src="../js/app.js"></script>
</body>
</html>